$black: #000;
$coffee: #62372D;
$yellow: #FFDE59;
$beige: #E9D8C4;
$white: #FFF;

// Fonts
$bebas: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$bebas-M: 1.3rem;
$bebas-L: 1.7rem;
$bebas-XL: 2.7rem;
$bebas-XXL: 3.5rem;

$aleo: 'Aleo', Georgia, 'Times New Roman', Times, serif;
$aleo-M: 18px;
$aleo-L: 22px;
$aleo-XL: 24px;